services:
  mongodb:
    image: mongo:latest
    container_name: heyama-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    container_name: heyama-api
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/heyama
    depends_on:
      - mongodb

volumes:
  mongodb_data:
